@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neutral-900;
  }
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
  .textarea {
    resize: none;
    overflow: scroll;
    display: block;
    outline: 2px solid transparent;
    outline-offset: 2px;
    width: 100%;
    overflow-wrap: break-word;
    /* word-break: break-all; */
  }
  .textarea[contenteditable]:empty::before {
    content: "Write code...";
    color: rgb(82 82 82);
  }
}